.index-page {
  display: block;
  margin: 0 auto;
  padding-top: 3rem;
}

.all-comments {
  color: #565555;
  font-size: 15px;
  text-decoration: none;
  cursor: pointer;


}

.container__comments {
  text-align: left;
  margin-left: 10px;
  /*display: flex;*/
  /*flex-direction: column;*/
}

.comments {
  max-height: 250px;
  overflow-y: auto;
  position: relative;
}

.comments::-webkit-scrollbar {
  width: 12px;
}

.comments::-webkit-scrollbar-track {
  background: white;
}

.comments::-webkit-scrollbar-thumb {
  background-color: #ad6a84;
  border-radius: 20px;
}
.post-card {
  display: inline;
  margin: 2rem;
}

.is-liked {
  color: #8c3023;
}

.not-liked {
  color: grey;
}

.profile-img {
  align-content: start;
  margin: 8px 0 8px 8px;
  width: 45px;
  height: 45px;
  border-radius: 35px;
  border: 0.05em solid black;
}

.profile-photo {
  border-radius: 50%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.list-group-item:hover {
  border-radius: 20px;
  -webkit-filter: brightness(90%);
  -webkit-transition: all 0.5s ease;
}
