<app-navigation></app-navigation>

<div class="container text-center index-page" *ngIf="isDataLoaded && isUserDataLoaded">
  <div class="row">
    <div class="col">
    </div>
    <div class="col" style="margin: 15px 0 50px 0">
      <mat-card class="post-card" *ngFor="let post of posts; let i = index">
        <mat-divider></mat-divider>
        <!--    header   -->
        <mat-card-header style="text-align: left">
          <div mat-card-avatar>
            <img class="profile-img" [src]="formatImage(post.user.imageData) || 'https://i.imgur.com/ySPGGoI.jpg'"
                 alt="profile photo">
          </div>
          <a style="text-decoration:none;font-weight: 500;color: black;font-size: 20px"
             [routerLink]="['/profile',this.post.user.id]">
            <mat-card-title style="margin-top: 0.95rem;margin-left: 1rem;">{{post.user.username}} </mat-card-title>
          </a>

        </mat-card-header>

        <!--    body   -->
        <img mat-card-image [src]="formatImage(post.imageData)" alt="post image" width="400px" height="400px"
             style="margin-top: 10px">

        <mat-card-content style="text-align: start;">
          <p style="margin-top: 5px ">
            <a
              style="text-decoration: none;font-weight: 500;color: black"><span> {{post.user.username}}</span></a>
            <span> {{post.description}}</span>
          </p>

        </mat-card-content>

        <mat-card-actions align="start">
          <!--  Like  -->
          <button *ngIf="isUserDataLoaded" mat-button style="border: none;background: none;padding: 2px"
                  (click)="likePost(post.id,i)">
            <svg *ngIf="post.whoLikes.indexOf(this.user.username) != -1;else likeBlock"
                 xmlns="http://www.w3.org/2000/svg" width="20" height="20" class="bi bi-heart-fill is-liked"
                 fill=" #8c3023" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"/>
            </svg>
            <ng-template #likeBlock>
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" class="bi bi-heart not-liked"
                   viewBox="0 0 16 16">
                <path
                  d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15"/>
              </svg>
            </ng-template>
          </button>

          {{post.whoLikes.length}}
        </mat-card-actions>
        <!--   Comments   -->
        <div class="container__comments">

            <span *ngIf="post.comments.length<3;else elseBlock">
              <span *ngFor="let comment of post.comments.reverse()">
                <span class="comment-username" style=";margin-bottom: 5px">{{comment.username}}
                  :</span>{{comment.message}}<br>
              </span>
            </span>

          <ng-template #elseBlock>

            <div *ngIf="!showComments">
                 <a style="text-decoration: none;font-weight: 500;color: black">
                <span style="font-weight: 500">
                {{post.comments.at(post.comments.length - 1)?.username}}:
              </span></a>
                {{post.comments.at(post.comments.length - 1)?.message}}

            </div>

            <a *ngIf="!showComments" class="all-comments" (click)="toggleComments()">Show all
              comments({{post.comments.length}})</a>

            <div class="comments">
              <span *ngIf="showComments">
                <span *ngFor="let comment of post.comments.reverse()">
                  <span style="text-decoration: none;font-weight: 500;color: black;margin-bottom: 5px">
                    <a>{{comment.username}}</a>:</span> {{comment.message}}
                  <br>
                </span>
                 <p><a class="all-comments" (click)="toggleComments()">Hide comments</a></p>
              </span>

            </div>
          </ng-template>
        </div>


        <mat-form-field class="w-100">
          <mat-label>Leave a comment...</mat-label>
          <input (keyup.enter)="postComment($event.target.value, post.id, i)" matInput #message maxlength="128">
        </mat-form-field>

      </mat-card>

    </div>
    <div class="col">
    </div>
  </div>
</div>
