<div class="main-page">
  <nav class="navbar fixed-top" style="background-color: white;">
    <div class="container-fluid" style="height: 55px;">
      <a routerLink="/"
         style="margin-left: 20px;font-weight: 600;font-size: 30px;text-decoration: none;color: #a62d5b;margin-top: 0rem">
        Zenflow
        <img [src]="'https://i.imgur.com/7kAZAIv.jpg'" width="40px" alt="">
      </a>
      <button [routerLink]="'/create-post'" style="margin: 0 10px" mat-fab color="primary" extended>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
             class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
          <path
            d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3z"/>
        </svg>
        Create post
      </button>

      <span class="spacer"></span>

      <span class="spacer"></span>

      <a class="profile-link" [routerLink]="['/profile',this.id]" (click)="window.location.replace('/profile/'+this.id)"
         style="  margin-top: 0rem;">
        <span style="color: #a62d5b;font-size: 25px;font-weight: 600" *ngIf="isDataLoaded">
          {{this.username}}
          <img class="profile-img" [src]="formatImage(photo) || 'https://i.imgur.com/ySPGGoI.jpg'" alt="profile photo">
        </span>
      </a>

      <button *ngIf="isLoggedIn" [matMenuTriggerFor]="menu" style="color: #a62d5b;margin-top: -0.5rem" matTooltip="More"
              mat-icon-button>
        <mat-icon>view_headline</mat-icon>
      </button>
      <mat-menu id="menu-item" #menu="matMenu">
        <button (click)="logout()" mat-menu-item>
          Logout
        </button>
      </mat-menu>
    </div>
  </nav>

</div>
