<app-navigation></app-navigation>
<div *ngIf="isUserDataLoaded" class="user-profile">

  <div style="text-align: right">

  </div>

  <div style="padding-top: 2rem" class="row">
    <div class="col-md-auto">
      <img class="profile-image"
           [src]="previewImgURL || formatImage(user.imageData) || 'https://i.imgur.com/ySPGGoI.jpg'" alt="user image">
      <!-- Edit info -->
      <ng-template [ngIf]="isCurrentUser">
        <input type="file"
               style="display: none"
               formenctype="multipart/form-data"
               #fileInput
               multiple
               (change)="onFileSelected($event)">
        <button mat-button (click)="fileInput.click()">Pick File</button>
        <button mat-flat-button color="primary" (click)="openEditDialog()">Edit Info</button>
        <form>
          <button mat-button *ngIf="selectedFile" (click)="onUpload()" formenctype="multipart/form-data">Upload</button>
        </form>
      </ng-template>

      <!-- Subscribe -->
      <ng-template [ngIf]="!isCurrentUser">
        <button mat-flat-button color="accent" (click)="subscribe()" *ngIf="!isSubscribed;else unsubBlock">Subscribe
        </button>
        <ng-template #unsubBlock>
          <button mat-flat-button color="warn" (click)="subscribe()" *ngIf="isSubscribed;else unsubBlock">Unsubscribe
          </button>
        </ng-template>
      </ng-template>

    </div>
    <div class="col-8" style="text-align: left">

      <div class="row">
        <div class="col-md-auto">
          <h2>{{user.username}}</h2>
          <h6 style="font-style: italic">{{user.name}}</h6>

        </div>
        <div class="col-md-auto">
          <h6 style="margin-top: 10px">
            Subscribers: {{user.subscribers.length}}
          </h6>
        </div>
        <div class="col-md-auto">
          <h6 style="margin-top: 10px">
            Subscribed: {{user.onWhoSubscribe.length}}
          </h6>
        </div>
        <div class="col-md-auto">
          <input value="Email" style="margin-top: 5px;border: none;background: white;text-decoration: underline"
                 id="showEmail" (click)="change()" type="reset">
        </div>
      </div>
      <div class="row">
        <h6>{{user.bio}}</h6>
      </div>
    </div>

    <mat-divider style="margin: 2rem 0"></mat-divider>

  </div>

</div>
