<app-navigation></app-navigation>
<div *ngIf="isUserDataLoaded" class="user-profile">

  <div style="text-align: right">

  </div>

  <div style="padding-top: 2rem" class="row">
    <div class="col-md-auto">
      <img class="profile-image"
           [src]="previewImgURL || formatImage(user.imageData) || 'https://i.imgur.com/ySPGGoI.jpg'" alt="user image">
      <!-- Edit info -->
      <ng-template [ngIf]="isCurrentUser">
        <input type="file"
               style="display: none"
               formenctype="multipart/form-data"
               #fileInput
               multiple
               (change)="onFileSelected($event)">
        <button mat-button (click)="fileInput.click()">Pick File</button>
        <button mat-flat-button color="primary" (click)="openEditDialog()">Edit Info</button>
        <form>
          <button mat-button *ngIf="selectedFile" (click)="onUpload()" formenctype="multipart/form-data">Upload</button>
        </form>
      </ng-template>

      <!-- Subscribe -->
      <ng-template [ngIf]="!isCurrentUser">
        <button mat-flat-button color="accent" (click)="subscribe(this.user.id)"
                *ngIf="!getIsSubscribed();else unsubBlock">Subscribe
        </button>
        <ng-template #unsubBlock>
          <button mat-flat-button color="warn" (click)="subscribe(this.user.id)" *ngIf="getIsSubscribed()">
            Unsubscribe
          </button>
        </ng-template>
      </ng-template>

    </div>
    <div class="col-8" style="text-align: left">

      <div class="row">
        <div class="col-md-auto">
          <h2>{{user.username}}</h2>
          <h6 style="font-style: italic">{{user.name}}</h6>

        </div>
        <div class="col-md-auto">
          <h6 style="margin-top: 10px">
            <span style="font-weight: 600"> {{user.subscribers.length}}</span> Subscribers
          </h6>
        </div>
        <div class="col-md-auto">
          <h6 style="margin-top: 10px">
            <span style="font-weight: 600">{{user.onWhoSubscribe.length}}</span> Subscribed
          </h6>
        </div>
        <div class="col-md-auto">
          <h6 style="margin-top: 10px">
            <span style="font-weight: 600">{{user.posts.length}}</span> Posts
          </h6>
        </div>
        <ng-template [ngIf]="isCurrentUser">
          <div class="col-md-auto">
            <input value="Email" style="margin-top: 5px;border: none;background: white;text-decoration: underline"
                   id="showEmail" (click)="change()" type="reset">
          </div>
        </ng-template>
      </div>
      <div class="row">
        <h6>{{user.bio}}</h6>
      </div>
    </div>

    <mat-divider style="margin: 20px"></mat-divider>


    <mat-grid-list cols="3">
      <mat-grid-tile class="hover-text" *ngFor="let post of user.posts">
        <img mat-card-image class="post-image" (click)="openPostDialog(post)" [src]="formatImage(post.imageData)"
             alt="Photo">
        <span class="on-image" style="position: absolute">
          <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-heart-fill"
               viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"/>
          </svg>
          {{post.whoLikes.length}}
          <span style="margin: 0 5px"></span>
          <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
               class="bi bi-chat-right-fill" viewBox="0 0 16 16">
            <path
              d="M14 0a2 2 0 0 1 2 2v12.793a.5.5 0 0 1-.854.353l-2.853-2.853a1 1 0 0 0-.707-.293H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2z"/>
          </svg>
          {{post.comments.length}}
        </span>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

</div>
