.profile-img {
  align-content: start;
  margin: 8px 0 8px 8px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 0.05em solid black;
}

.comments {
  text-align: left;
  margin-left: 10px;
  overflow-y: auto;
  height: 390px;
}

.comments::-webkit-scrollbar {
  width: 12px;
}

.comments::-webkit-scrollbar-track {
  background: white;
}

.comments::-webkit-scrollbar-thumb {
  background-color: #ad6a84;
  border-radius: 20px;
}

.post-card {
  display: inline;
}

.button-delete {
  margin-top: 0.5rem;
  margin-left: 6rem;
  cursor: pointer
}

